<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <VLayout>
      <VFlex
        md6
        pr-2
      >
        <VCard>
          <VCardTitle>
            <VIcon class="mr-2">
              account_circle
            </VIcon>
            <h3 class="headline">
              ASN
            </h3>
          </VCardTitle>
          <VCardText>
            <table class="asn-data">
              <tbody>
                <tr>
                  <td>
                    NIP
                  </td>
                  <td>
                    {{ asn.id }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Nama
                  </td>
                  <td>
                    {{ asn.name }}
                  </td>
                </tr>
                <tr>
                  <td>
                    OPD
                  </td>
                  <td>
                    {{ asn.agency.name }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Eselon/Golongan
                  </td>
                  <td>
                    {{ asn.echelon.name }}/{{ asn.rank.name }}
                  </td>
                </tr>
              </tbody>
            </table>
          </VCardText>
        </VCard>
      </VFlex>
      <VFlex
        md6
        pl-2
      >
        <VCard>
          <VCardTitle>
            <VIcon class="mr-2">
              fingerprint
            </VIcon>
            <h3 class="headline">
              Sidik Jari
            </h3>
          </VCardTitle>
          <VCardText>
            ASN ini memiliki {{ asn.fingerprints.length }} sidik jari terdaftar
          </VCardText>
          <VCardActions>
            <VSpacer />
            <VBtn
              color="primary"
              @click="openFingerprintRegistrar"
            >
              Tambah Sidik Jari
            </VBtn>
          </VCardActions>
        </VCard>
      </VFlex>
    </VLayout>
    <FingerprintRegistrar ref="fingerprintRegistrar" />
  </PageWrapper>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import FingerprintRegistrar from '@/components/FingerprintRegistrar'
import { FETCH_ONE_ASN } from '@/store/Asn/asnTypes'
import {
  PREPARE_FINGERPRINT_REGISTRATION,
  CLEAR_FINGERPRINT_REGISTRATION,
  FIND_USER_FROM_FINGERPRINT_MACHINE
} from '@/store/Fingerprint/fingerprintTypes'
import breadcrumbs from './breadcrumbs'

export default {
  name: 'AsnFingerprint',

  components: {
    FingerprintRegistrar
  },

  data () {
    return {
      breadcrumbs
    }
  },

  computed: {
    ...mapState({
      asn: ({ Asn }) => Asn.singleData,
      fingerprintRegistrationPreparationLoading: ({ Fingerprint }) => Fingerprint.isPreparingFingerprintRegistration,
      fingerprintRegistrationClearanceLoading: ({ Fingerprint }) => Fingerprint.isClearingFingerprintRegistration,
      preparationUser: ({ Fingerprint }) => Fingerprint.preparationUser
    })
  },

  async mounted () {
    await this.fetchAsn(this.$route.params.id)
  },

  methods: {
    ...mapActions({
      fetchAsn: FETCH_ONE_ASN,
      prepareFingerprintRegistration: PREPARE_FINGERPRINT_REGISTRATION,
      clearFingerprintRegistration: CLEAR_FINGERPRINT_REGISTRATION,
      findUser: FIND_USER_FROM_FINGERPRINT_MACHINE
    }),

    openFingerprintRegistrar () {
      this.$refs.fingerprintRegistrar.open()
    }
  }
}
</script>

<style lang="scss">
.asn-data {
  width: 100%;

  tr {
    td {
      padding-bottom: 10px;
    }

    td:first-child {
      width: 30%;
      font-weight: bold;
    }
  }
}
</style>
