<template>
  <VCard>
    <VCardTitle class="py-2">
      Konfigurasi
      <VSpacer />
      <VBtn
        :disabled="loading"
        small
        color="primary"
        class="mr-0"
        @click="saveHandler"
      >
        Simpan
      </VBtn>
    </VCardTitle>
    <VCardText>
      <VLayout>
        <VFlex
          md5
          pr-2
        >
          <AgencyControl>
            <template #default="{ loading, items }">
              <VSelect
                v-model="form.agencyId"
                label="OPD"
                :items="items"
                item-value="id"
                item-text="name"
              />
            </template>
          </AgencyControl>
        </VFlex>
      </VLayout>
    </VCardText>
  </VCard>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { FETCH_ONE_CONFIG, SET_CONFIG } from '@/store/Config/configTypes'

import AgencyControl from '@/components/Renderless/AgencyControl'

export default {
  name: 'SyncConfig',

  components: {
    AgencyControl
  },

  data () {
    return {
      form: {
        agencyId: null
      }
    }
  },

  computed: {
    ...mapState({
      loading: ({ Config }) => Config.loading,
      configError: ({ Config }) => Config.error
    })
  },

  async mounted () {
    await this.initialDataHandler()
  },

  methods: {
    ...mapActions({
      fetchConfig: FETCH_ONE_CONFIG,
      setConfig: SET_CONFIG
    }),

    async initialDataHandler () {
      const agencyIdConfig = await this.fetchConfig('agencyId')

      this.form.agencyId = agencyIdConfig.value === '-' ? null : agencyIdConfig.value
    },

    async saveHandler () {
      await this.setConfig({
        key: 'agencyId',
        value: this.form.agencyId
      })

      if (this.configError) {
        console.log(this.configError)
      }
    }
  }
}
</script>
