<template>
  <VDialog
    v-model="isShown"
    width="560px"
  >
    <VCard>
      <AsnControl>
        <template #default="{ items, loading }">
          <VCardText>
            <div class="text-xs-center mb-4">
              <VIcon class="icon">
                fingerprint
              </VIcon>
            </div>
            <div
              v-if="loading || isSyncing"
              class="mb-4 text-xs-center"
            >
              <VProgressCircular
                :indeterminate="true"
                class="mb-2"
              />
              <p v-if="isSyncing && syncMessage">
                {{ syncMessage }}
              </p>
            </div>
            <div v-else>
              <p
                v-if="!syncSuccess && !syncMessage && !syncErrorMessage"
                class="text-xs-center mb-4"
              >
                Pastikan seluruh data presensi telah diproses.<br>Proses sinkronisasi sidik jari sangat rentan terhadap kesalahan
              </p>
              <p
                v-if="syncSuccess && syncMessage"
                class="text-xs-center mb-4"
              >
                {{ syncMessage }}
              </p>
              <div class="text-xs-center">
                <VBtn
                  v-if="!syncSuccess && !syncErrorMessage"
                  color="primary"
                  @click="startSync(items)"
                >
                  Mulai
                </VBtn>
              </div>
            </div>
          </VCardText>
        </template>
      </AsnControl>
    </VCard>
  </VDialog>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import AsnControl from '@/components/Renderless/AsnControl'
import { SYNC_FINGERPRINTS_TO_MACHINE } from '@/store/Fingerprint/fingerprintTypes'

export default {
  name: 'FingerprintSync',

  components: {
    AsnControl
  },

  data () {
    return {
      isShown: false,
      syncSuccess: false,
      syncMessage: '',
      syncErrorMessage: ''
    }
  },

  computed: {
    ...mapState({
      isSyncing: ({ Fingerprint }) => Fingerprint.isSyncing
    })
  },

  watch: {
    isShown: {
      handler (val) {
        if (!val) {
          this.clearFields()
        }
      }
    }
  },

  methods: {
    ...mapActions({
      syncFingerprints: SYNC_FINGERPRINTS_TO_MACHINE
    }),

    open () {
      this.isShown = true
    },

    close () {
      this.isShown = false
    },

    clearFields () {
      this.syncSuccess = false
      this.syncMessage = ''
      this.syncErrorMessage = ''
    },

    async startSync (asnList) {
      this.syncSuccess = false

      try {
        const data = asnList.map(asn => ({
          pin: asn.pin,
          nama: asn.name,
          tmp: asn.fingerprints.map(fingerprint => ({
            idx: fingerprint.idx,
            alg_ver: fingerprint.algVer,
            template: fingerprint.template
          }))
        }))

        this.syncMessage = 'Menyinkronisasikan sidik jari'
        await this.syncFingerprints(data)
        this.syncMessage = 'Sinkronisasi sidik jari selesai'
        this.syncSuccess = true
      } catch (err) {
        this.syncErrorMessage = 'Terjadi kesalahan ketika menyinkronisasikan sidik jari'
      }
    }
  }
}
</script>
