<template>
  <PageWrapper>
    <VAlert
      v-if="error"
      type="error"
      :value="true"
    >
      {{ error.message }}
    </VAlert>
    <VAlert
      v-if="!isInitialized.value"
      type="warning"
      :value="true"
    >
      <VLayout
        justify-between
        align-center
      >
        <VFlex>
          Synchrome belum dikonfigurasi untuk mengambil data dari server
        </VFlex>
        <VFlex class="text-xs-right">
          <VBtn
            :to="{ name: 'sync' }"
            small
            flat
          >
            Mulai Sinkronisasi
          </VBtn>
        </VFlex>
      </VLayout>
    </VAlert>
  </PageWrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { FETCH_ONE_CONFIG } from '@/store/Config/configTypes'

export default {
  name: 'Dashboard',

  data () {
    return {
      isInitialized: false
    }
  },

  computed: {
    ...mapState({
      loading: ({ Config }) => Config.isFetchingOne,
      error: ({ Config }) => Config.error
    })
  },

  async mounted () {
    const awaitGetIsInitialized = this.getConfig('isInitialized')

    const isInitialized = await awaitGetIsInitialized

    this.isInitialized = {
      ...isInitialized,
      value: isInitialized.value !== 'false'
    }
  },

  methods: {
    ...mapActions({
      getConfig: FETCH_ONE_CONFIG
    })
  }
}
</script>
