<template>
  <div>
    <slot
      :items="items"
      :loading="loading"
      :fetch="fetch"
      :error="error"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { FETCH_ALL_WORKSHIFTS, GET_WORKSHIFT_DATA } from '@/store/Workshift/workshiftTypes'

export default {
  name: 'WorkshiftControl',

  computed: {
    ...mapState({
      loading: ({ Workshift }) => Workshift.isFetching,
      error: ({ Workshift }) => Workshift.error
    }),

    items () {
      return this.$store.getters[GET_WORKSHIFT_DATA]
    }
  },

  async mounted () {
    await this.fetch()
  },

  methods: {
    async fetch () {
      await this.$store.dispatch(FETCH_ALL_WORKSHIFTS)
    }
  }
}
</script>
