<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <SyncAuth
      ref="syncAuth"
      @success="startSync"
    />
    <VAlert
      type="warning"
      :value="true"
      class="mb-4"
    >
      Konfigurasi dan data relatif bisa dilakukan setelah data wajib tersinkronisasikan
    </VAlert>
    <SyncConfig class="mb-4" />
    <VLayout>
      <VFlex
        md6
        pr-2
      >
        <VLayout
          align-center
          justify-between
          class="mb-2"
        >
          <VFlex>
            <h3 class="subheading">
              Data Wajib
            </h3>
          </VFlex>
          <VFlex class="text-xs-right">
            <VBtn
              color="primary"
              small
              class="mr-0"
              @click="toggleSyncAuth('mandatory')"
            >
              <VIcon
                small
                class="mr-2"
              >
                sync
              </VIcon>
              Sinkronisasikan
            </VBtn>
          </VFlex>
        </VLayout>
        <div class="mb-4">
          <VCard
            v-for="item in mandatorySyncItems"
            :key="item.target"
            class="mb-2"
          >
            <VCardText>
              <VLayout
                align-center
                justify-between
              >
                <VFlex>
                  {{ item.text }}
                </VFlex>
                <VFlex class="text-xs-right">
                  <div v-if="!item.error">
                    <VIcon v-if="!item.loading && item.success == null">
                      get_app
                    </VIcon>
                    <VIcon v-if="!item.loading && item.success">
                      done_all
                    </VIcon>
                    <VProgressCircular
                      v-if="item.loading"
                      :indeterminate="true"
                      :size="15"
                    />
                  </div>
                  <div v-else>
                    <VChip
                      color="red"
                      dark
                    >
                      Error
                    </VChip>
                  </div>
                </VFlex>
              </VLayout>
            </VCardText>
          </VCard>
        </div>
      </VFlex>
      <VFlex
        md6
        pl-2
      >
        <VLayout
          align-center
          justify-between
          class="mb-2"
        >
          <VFlex>
            <h3 class="subheading">
              Data Relatif
            </h3>
          </VFlex>
          <VFlex class="text-xs-right">
            <VBtn
              color="primary"
              small
              class="mr-0"
              @click="toggleSyncAuth('relative')"
            >
              <VIcon
                small
                class="mr-2"
              >
                sync
              </VIcon>
              Sinkronisasikan
            </VBtn>
          </VFlex>
        </VLayout>
        <div>
          <VCard
            v-for="item in relativeSyncItems"
            :key="item.target"
            class="mb-2"
          >
            <VCardText>
              <VLayout
                align-center
                justify-between
              >
                <VFlex>
                  {{ item.text }}
                </VFlex>
                <VFlex class="text-xs-right">
                  <div v-if="!item.error">
                    <VIcon v-if="!item.loading && item.success == null">
                      get_app
                    </VIcon>
                    <VIcon v-if="item.success">
                      done_all
                    </VIcon>
                    <VProgressCircular
                      v-if="item.loading"
                      :indeterminate="true"
                      :size="15"
                    />
                  </div>
                  <div v-else>
                    <VChip
                      color="red"
                      dark
                    >
                      Error
                    </VChip>
                  </div>
                </VFlex>
              </VLayout>
            </VCardText>
          </VCard>
        </div>
      </VFlex>
    </VLayout>
  </PageWrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import breadcrumbs from './breadcrumbs'
import mandatorySyncItems from '~/constants/mandatorySyncItems'
import relativeSyncItems from '~/constants/relativeSyncItems'
import { SYNC, UPDATE_LAST_SYNC } from '@/store/Sync/syncTypes'
import { FETCH_ALL_AGENCIES } from '@/store/Agency/agencyTypes'

import SyncAuth from '@/components/SyncAuth'
import SyncConfig from '@/components/SyncConfig'

export default {
  name: 'Sync',

  components: {
    SyncAuth,
    SyncConfig
  },

  data () {
    const formattedMandatorySyncItems = mandatorySyncItems.map(item => ({
      ...item,
      loading: false,
      error: null,
      success: null
    }))

    const formattedRelativeSyncItems = relativeSyncItems.map(item => ({
      ...item,
      loading: false,
      error: null,
      success: null
    }))

    return {
      breadcrumbs,
      mandatorySyncItems: formattedMandatorySyncItems,
      relativeSyncItems: formattedRelativeSyncItems,
      syncType: 'mandatory'
    }
  },

  computed: {
    ...mapState({
      token: ({ Sync }) => Sync.token
    })
  },

  methods: {
    ...mapActions({
      performSync: SYNC,
      updateLastSync: UPDATE_LAST_SYNC,
      fetchAgencies: FETCH_ALL_AGENCIES
    }),

    toggleSyncAuth (syncType = 'mandatory') {
      this.syncType = syncType
      this.$refs.syncAuth.open()
    },

    async startSync () {
      switch (this.syncType) {
        case 'mandatory':
          await this.syncMandatoryItems()
          break
        case 'relative':
          await this.syncRelativeItems()
          break
      }
    },

    async syncMandatoryItems () {
      for (let syncModule of this.mandatorySyncItems) {
        console.info(`Syncing ${syncModule.model}`)

        await this.performSync(syncModule)
      }

      await this.fetchAgencies()
    },

    async syncRelativeItems () {
      for (let syncModule of this.relativeSyncItems) {
        console.info(`Syncing ${syncModule.model}`)

        await this.performSync(syncModule)
      }

      await this.updateLastSync()
    }
  }
}
</script>
