<template>
  <div>
    <slot
      :items="items"
      :loading="loading"
      :fetch="fetch"
      :error="error"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { FETCH_ALL_RANKS, GET_RANK_DATA } from '@/store/Rank/rankTypes'

export default {
  name: 'RankControl',

  computed: {
    ...mapState({
      loading: ({ Rank }) => Rank.isFetching,
      error: ({ Rank }) => Rank.error
    }),

    items () {
      return this.$store.getters[GET_RANK_DATA]
    }
  },

  async mounted () {
    await this.fetch()
  },

  methods: {
    ...mapActions({
      fetchRanks: FETCH_ALL_RANKS
    }),

    async fetch () {
      await this.fetchRanks()
    }
  }
}
</script>
