<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard title="Daftar ASN">
      <template slot="toolbar">
        <VBtn
          icon
          @click="toggleFingerprintSync"
        >
          <VIcon>fingerprint</VIcon>
        </VBtn>
        <VBtn
          icon
          @click="refreshTable"
        >
          <VIcon>refresh</VIcon>
        </VBtn>
        <UtilityCardSearchBar
          v-model="query"
          placeholder="Pencarian"
        />
      </template>
      <AsnControl ref="asnControl">
        <template #default="{ items, loading }">
          <VCardText
            v-if="loading"
            class="text-xs-center"
          >
            <VProgressCircular
              :size="64"
              :indeterminate="true"
            />
          </VCardText>
          <VDataTable
            v-if="!loading"
            :headers="tableHeaders"
            :items="items"
            :search="query"
          >
            <template #items="{ item }">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.agency.name }}</td>
              <td>
                <VBtn
                  small
                  :to="{ name: 'asn.fingerprints', params: { id: item.id } }"
                >
                  Sidik Jari
                </VBtn>
              </td>
            </template>
          </VDataTable>
        </template>
      </AsnControl>
    </UtilityCard>
    <FingerprintSync ref="fingerprintSync" />
  </PageWrapper>
</template>

<script>
import AsnControl from '@/components/Renderless/AsnControl'
import FingerprintSync from '@/components/FingerprintSync'
import breadcrumbs from './breadcrumbs'

export default {
  name: 'AsnIndex',

  components: {
    AsnControl,
    FingerprintSync
  },

  data () {
    return {
      breadcrumbs,
      query: '',
      tableHeaders: [
        {
          value: 'id',
          text: 'NIP',
          sortable: false
        },
        {
          value: 'name',
          text: 'ASN',
          sortable: true
        },
        {
          value: 'agency.name',
          text: 'OPD',
          sortable: true
        },
        {
          value: null,
          text: 'Tindakan',
          sortable: false
        }
      ]
    }
  },

  methods: {
    refreshTable () {
      this.$refs.asnControl.fetch()
    },

    toggleFingerprintSync () {
      this.$refs.fingerprintSync.open()
    }
  }
}
</script>
