<template>
  <PageWrapper :breadcrumbs="breadcrumbs">
    <UtilityCard
      title="Presensi"
      :loading="loading"
    >
      <template slot="toolbar">
        <DatePicker
          v-model="filter.date"
          prepend-icon="event"
        />
        <VBtn
          :disabled="loading"
          icon
          @click="processHandler"
        >
          <VIcon>save_alt</VIcon>
        </VBtn>
        <VBtn
          :disabled="loading"
          icon
          @click="generateAttendancesHandler"
        >
          <VIcon>file_copy</VIcon>
        </VBtn>
      </template>
      <VDataTable
        v-if="!loading"
        :headers="tableHeaders"
        :items="attendances"
      >
        <template #items="{ item }">
          <td>{{ item.asn.id }}</td>
          <td style="width: 30%">
            {{ item.asn ? item.asn.name : '-' }}
          </td>
          <td style="width: 13%">
            {{ item.checkIn ? item.checkIn : '-' }}
          </td>
          <td style="width: 13%">
            {{ item.checkOut ? item.checkOut : '-' }}
          </td>
          <td class="text-xs-right">
            {{ item.type ? item.type.name : '-' }}
          </td>
        </template>
      </VDataTable>
    </UtilityCard>
  </PageWrapper>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import moment from 'moment'
import breadcrumbs from './breadcrumbs'
import {
  GET_ATTENDANCE_DATA,
  GENERATE_ATTENDANCES,
  FETCH_ALL_ATTENDANCES,
  PROCESS_ATTENDANCES
} from '@/store/Attendance/attendanceTypes'

export default {
  name: 'AttendanceIndex',

  data () {
    return {
      breadcrumbs,
      filter: {
        date: moment().format('YYYY-MM-DD')
      },
      tableHeaders: [
        {
          value: 'asn.id',
          text: 'NIP'
        },
        {
          value: 'asn.name',
          text: 'Nama'
        },
        {
          value: 'checkIn',
          text: 'Datang'
        },
        {
          value: 'checkOut',
          text: 'Pulang'
        },
        {
          value: 'type.name',
          text: 'Status',
          align: 'right'
        }
      ]
    }
  },

  computed: {
    ...mapState({
      loading: ({ Attendance }) => Attendance.isGenerating || Attendance.isFetchingFromMachine
    }),

    ...mapGetters({
      attendances: GET_ATTENDANCE_DATA
    })
  },

  async mounted () {
    await this.fetchAttendancesHandler()
  },

  methods: {
    ...mapActions({
      generateAttendances: GENERATE_ATTENDANCES,
      fetchAttendances: FETCH_ALL_ATTENDANCES,
      processAttendances: PROCESS_ATTENDANCES
    }),

    async fetchAttendancesHandler () {
      await this.fetchAttendances(this.filter.date)
    },

    async generateAttendancesHandler () {
      await this.generateAttendances(this.filter.date)
    },

    async processHandler () {
      await this.processAttendances(this.filter.date)
      await this.fetchAttendancesHandler()
    }
  }
}
</script>
