<template>
  <VToolbar
    app
    fixed
    dark
    color="primary"
  >
    <span class="title mr-4">
      {{ appName }}
    </span>
    <VMenu
      offset-y
      open-on-hover
      class="mr-3"
    >
      <template #activator="{ on }">
        <span
          class="caption"
          v-on="on"
        >
          Data Utama
          <VIcon small>
            keyboard_arrow_down
          </VIcon>
        </span>
      </template>
      <VList>
        <VListTile
          v-for="menu in menus"
          :key="menu.text"
          :to="menu.to"
        >
          <VListTileTitle>
            {{ menu.text }}
          </VListTileTitle>
        </VListTile>
      </VList>
    </VMenu>
    <VMenu
      offset-y
      open-on-hover
    >
      <template #activator="{ on }">
        <span
          class="caption"
          v-on="on"
        >
          Sinkronisasi
          <VIcon small>
            keyboard_arrow_down
          </VIcon>
        </span>
      </template>
      <VList>
        <VListTile :to="{ name: 'sync' }">
          <VListTileTitle>
            Data Utama
          </VListTileTitle>
        </VListTile>
      </VList>
      <VList />
    </VMenu>
    <VSpacer />
    <VMenu
      open-on-hover
      bottom
      offset-y
    >
      <VBtn
        slot="activator"
        flat
      >
        <VIcon class="mr-2">
          account_circle
        </VIcon>
        {{ userName }}
      </VBtn>
      <VList>
        <VListTile @click="logoutHandler">
          <VListTileContent>
            <VListTileTitle>Keluar</VListTileTitle>
          </VListTileContent>
        </VListTile>
      </VList>
    </VMenu>
  </VToolbar>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { LOGOUT } from '@/store/Auth/authTypes'
import menus from './menus'

export default {
  name: 'AppTitleBar',

  data () {
    return {
      menus
    }
  },

  computed: {
    ...mapState({
      userName: ({ Auth }) => Auth.data.name,
      loading: ({ Auth }) => Auth.isLoggingOut,
      error: ({ Auth }) => Auth.error
    }),

    appName () {
      return process.env.ELECTRON_WEBPACK_APP_APP_TITLE
    }
  },

  methods: {
    ...mapActions({
      logout: LOGOUT
    }),

    async logoutHandler () {
      await this.logout()

      if (!this.error) {
        this.$router.push({ name: 'login' })
      }
    }
  }
}
</script>
