<template>
  <VContainer
    fluid
    fill-height
  >
    <VLayout
      align-center
      justify-center
    >
      <VFlex
        md4
        xs12
      >
        <VCard class="elevation-8">
          <VToolbar flat>
            <VToolbarTitle>Synchrome Desktop Client</VToolbarTitle>
            <VSpacer />
            <VProgressCircular
              v-if="loading"
              :indeterminate="true"
              :size="28"
            />
          </VToolbar>
          <VCardText>
            <VAlert
              v-if="error"
              :value="true"
              type="error"
              class="mb-4"
            >
              {{ error.message }}
            </VAlert>
            <form
              @submit="submitHandler"
              @keypress.enter="submitHandler"
            >
              <VTextField
                v-model="form.name"
                label="Nama Pengguna"
                :disabled="loading"
              />
              <VTextField
                v-model="form.password"
                type="password"
                label="Kata Sandi"
                :disabled="loading"
              />
            </form>
          </VCardText>
          <VCardActions>
            <VBtn
              color="primary"
              large
              block
              :disabled="loading"
              @click="submitHandler"
            >
              Masuk
            </VBtn>
          </VCardActions>
        </VCard>
      </VFlex>
    </VLayout>
  </VContainer>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { AUTHENTICATE } from '@/store/Auth/authTypes'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        name: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapState({
      loading: ({ Auth }) => Auth.isAuthenticating,
      error: ({ Auth }) => Auth.error
    })
  },

  methods: {
    ...mapActions({
      authenticate: AUTHENTICATE
    }),

    async submitHandler () {
      await this.authenticate(this.form)

      if (!this.error) {
        this.$router.push({ name: 'dashboard' })
      }
    }
  }
}
</script>
