<template>
  <VDialog
    v-model="isShown"
    width="560px"
  >
    <VCard>
      <VCardText>
        <div class="text-xs-center mb-4">
          <VIcon class="icon">
            fingerprint
          </VIcon>
        </div>
        <p
          v-if="!registrationSuccess"
          class="text-xs-center mb-5"
        >
          Proses penambahan sidik jari harus terkoneksi internet
        </p>
        <div
          v-if="!registrationSuccess"
          class="process mb-5"
        >
          <div class="mb-2 text-xs-center">
            <VProgressCircular
              v-if="loading"
              :indeterminate="true"
            />
          </div>
          <div class="text-xs-center">
            <span v-if="fingerprintRegistrationPreparationLoading">
              Menyiapkan mesin pemindai sidik jari
            </span>
            <span v-if="fingerprintRegistrationClearanceLoading">
              Finalisasi proses pendaftaran sidik jari
            </span>
          </div>

          <div v-if="!loading && preparationUserSet">
            <p class="text-xs-center">
              Inputkan sidik jari ke mesin pemindai sidik jari pada data pengguna:
            </p>
            <table class="preparation-user-data">
              <tbody>
                <tr>
                  <td>
                    PIN
                  </td>
                  <td>
                    {{ preparationUser.pin }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Nama
                  </td>
                  <td>
                    {{ preparationUser.nama }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          v-if="errorMessage"
          class="mb-5 red--text text-xs-center"
        >
          {{ errorMessage }}
        </div>

        <div
          v-if="preparationUserSet && fingerprintFetchMessage"
          class="mb-5 text-xs-center"
        >
          {{ fingerprintFetchMessage }}
        </div>

        <div
          v-if="registrationMessage"
          class="mb-5 text-xs-center"
        >
          {{ registrationMessage }}
        </div>

        <div
          v-if="!registrationSuccess"
          class="text-xs-center"
        >
          <VBtn
            v-if="!preparationUserSet"
            :disabled="loading"
            color="primary"
            @click="prepareRegistration"
          >
            Mulai
          </VBtn>
          <VBtn
            v-if="preparationUserSet"
            :disabled="loading"
            color="primary"
            @click="getPreparationUserData"
          >
            Cek Sidik Jari
          </VBtn>
          <VBtn
            v-if="newFingerprints.length > 0"
            :disabled="loading"
            color="primary"
            @click="toggleSyncAuth"
          >
            Simpan sidik jari ke server pusat
          </VBtn>
        </div>
      </VCardText>
    </VCard>
    <SyncAuth
      ref="syncAuth"
      @success="startRegisteringFingerprints"
    />
  </VDialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import SyncAuth from '@/components/SyncAuth'
import {
  PREPARE_FINGERPRINT_REGISTRATION,
  CLEAR_FINGERPRINT_REGISTRATION,
  FIND_USER_FROM_FINGERPRINT_MACHINE,
  REGISTER_FINGERPRINT_TO_SERVER
} from '@/store/Fingerprint/fingerprintTypes'

export default {
  name: 'FingerprintRegistrar',

  components: {
    SyncAuth
  },

  data () {
    return {
      isShown: false,
      registrationSuccess: false,
      form: {
        name: '',
        password: ''
      },
      errorMessage: '',
      fingerprintFetchMessage: '',
      registrationMessage: '',
      newFingerprints: []
    }
  },

  computed: {
    ...mapState({
      fingerprintRegistrationPreparationLoading: ({ Fingerprint }) => Fingerprint.isPreparingFingerprintRegistration,
      fingerprintRegistrationClearanceLoading: ({ Fingerprint }) => Fingerprint.isClearingFingerprintRegistration,
      findingPreparationUser: ({ Fingerprint }) => Fingerprint.isFinding,
      preparationUser: ({ Fingerprint }) => Fingerprint.preparationUser
    }),

    loading () {
      return this.fingerprintRegistrationPreparationLoading ||
        this.fingerprintRegistrationClearanceLoading ||
        this.findingPreparationUser
    },

    preparationUserSet () {
      return Boolean(this.preparationUser.pin)
    }
  },

  watch: {
    isShown: {
      async handler (val) {
        if (!val) {
          await this.clearFingerprintRegistration()
          this.clearFields()
        }
      }
    }
  },

  methods: {
    ...mapActions({
      prepareFingerprintRegistration: PREPARE_FINGERPRINT_REGISTRATION,
      clearFingerprintRegistration: CLEAR_FINGERPRINT_REGISTRATION,
      findUser: FIND_USER_FROM_FINGERPRINT_MACHINE,
      registerFingerprint: REGISTER_FINGERPRINT_TO_SERVER
    }),

    open () {
      this.isShown = true
    },

    close () {
      this.isShown = false
    },

    clearFields () {
      this.registrationSuccess = false
      this.errorMessage = ''
      this.fingerprintFetchMessage = ''
      this.registrationSuccess = ''
      this.newFingerprints = []
    },

    async prepareRegistration () {
      this.errorMessage = ''
      this.fingerprintFetchMessage = ''

      await this.prepareFingerprintRegistration()
    },

    async getPreparationUserData () {
      this.errorMessage = ''
      this.fingerprintFetchMessage = ''

      const user = await this.findUser(this.preparationUser.pin)
      const newFingerprints = user.Template.filter(item => item.idx !== 0)

      if (newFingerprints.length === 0) {
        this.errorMessage = 'Sidik jari tidak ditemukan. Silakan memeriksa mesin sekali lagi'
      } else {
        this.fingerprintFetchMessage = `${newFingerprints.length} sidik jari ditemukan`
        this.newFingerprints = newFingerprints
      }
    },

    toggleSyncAuth () {
      this.$refs.syncAuth.open()
    },

    async startRegisteringFingerprints () {
      this.registrationSuccess = false
      this.errorMessage = ''
      this.registrationMessage = ''

      const fingerprints = this.newFingerprints.map(item => ({
        algVer: item.alg_ver,
        idx: item.idx,
        pin: item.pin,
        template: item.template
      }))

      try {
        for (let fingerprint of fingerprints) {
          await this.registerFingerprint({
            asnId: this.$route.params.id,
            fingerprint
          })
        }

        await this.clearFingerprintRegistration()

        this.registrationSuccess = true
        this.registrationMessage = 'Pendaftaran sidik jari berhasil, mohon melakukan sinkronisasi kembali'
        this.newFingerprints = []
      } catch (err) {
        console.log(err)

        this.errorMessage = 'Terjadi kesalahan ketika mendaftarkan sidik jari ke server pusat'
      }
    }
  }
}
</script>

<style lang="scss">
.icon {
  font-size: 64px !important;
}

.preparation-user-data {
  width: 40%;
  margin: 0 auto;

  tr {
    td {
      text-align: right;
    }

    td:first-child {
      width: 30%;
      text-align: left;
      font-weight: bold;
    }
  }
}
</style>
