<template>
  <VApp>
    <AppTitleBar v-if="!isLoginPage" />
    <VContent>
      <router-view />
    </VContent>
  </VApp>
</template>

<script>
import { mapMutations } from 'vuex'
import AppTitleBar from '@/components/AppTitleBar'
import { getItem } from '@/helpers/localStorage'
import { AUTHENTICATE_SUCCESS } from '@/store/Auth/authTypes'

export default {
  name: 'SynchromeDesktop',

  components: {
    AppTitleBar
  },

  data () {
    return {
      drawer: false
    }
  },

  computed: {
    isLoginPage () {
      return this.$route.name === 'login'
    }
  },

  mounted () {
    const storedUser = getItem('user')
    if (!storedUser) return

    const user = JSON.parse(storedUser)

    this.setUser(user)
    this.$router.push({ name: 'dashboard' })
  },

  methods: {
    ...mapMutations({
      setUser: AUTHENTICATE_SUCCESS
    })
  }
}
</script>
