<template>
  <VDialog
    v-model="isShown"
    width="560px"
  >
    <VCard>
      <VToolbar
        card
        prominent
      >
        <VToolbarTitle>
          Otentikasi ke Server Utama
        </VToolbarTitle>
        <VSpacer />
        <VProgressCircular
          v-if="loading"
          :indeterminate="true"
          :size="28"
        />
      </VToolbar>
      <VCardText>
        <VAlert
          v-if="!error"
          type="info"
          :value="true"
          class="mb-4"
        >
          Untuk melakukan sinkronisasi, pengguna wajib menginputkan nama pengguna dan kata sandi dari server utama.
        </VAlert>
        <VAlert
          v-else
          type="error"
          :value="true"
          dismissible
          class="mb-4"
        >
          {{ error.message }}
        </VAlert>
        <form @submit.prevent="submitHandler">
          <VTextField
            v-model="form.name"
            :disabled="loading"
            label="Nama Pengguna"
          />
          <VTextField
            v-model="form.password"
            type="password"
            :disabled="loading"
            label="Kata Sandi"
          />
        </form>
      </VCardText>
      <VCardActions>
        <VSpacer />
        <VBtn
          :disabled="loading || $v.$invalid"
          color="primary"
          @click="submitHandler"
        >
          Masuk
        </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { SYNC_AUTHENTICATE } from '@/store/Sync/syncTypes'
import validator from './validator'

export default {
  name: 'SyncAuth',

  data () {
    return {
      isShown: false,
      form: {
        name: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapState({
      loading: ({ Sync }) => Sync.isAuthenticating,
      error: ({ Sync }) => Sync.error
    })
  },

  validations: validator,

  methods: {
    ...mapActions({
      authenticate: SYNC_AUTHENTICATE
    }),

    open () {
      this.isShown = true
    },

    close (message = '') {
      this.isShown = false

      if (message) this.$emit(message)
    },

    async submitHandler () {
      await this.authenticate(this.form)

      if (!this.error) {
        this.form = {
          name: '',
          password: ''
        }
        this.close('success')
      }
    }
  }
}
</script>
